.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .menu ul {
    display: flex;
}

.cabecalho .menu li a {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-texto-branco);
    border-radius: 5px;
    transition: 0.3s;
}

.cabecalho .menu li a:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo-hover-menu);
}