/* Estilos e animações globais */
html {
    color: var(--cor-texto-principal);
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-primaria);
    margin: 0 auto;
    max-width: 1120px;
    background: var(--cor-fundo);
    background-size: 120% 120%;

    display: grid;
    grid-template-columns: 1fr; /* Apenas uma coluna */
    grid-template-areas:
        'main' /* A área do conteúdo principal */
        'footer'; /* A área do rodapé */

    /* O header é 'position: fixed', então ele fica FORA do fluxo do grid.
     Ainda precisamos do padding-top para empurrar o grid para baixo. */
    padding-top: 60px;
}

/* NOVO: Atribuindo cada elemento à sua área do grid */
main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.titulo-secao {
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--cor-texto-branco);
}

.subtitulo-habilidades {
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weigth: 300;
    color: var(--cor-texto-branco);
}

.tela {
  min-height: calc(100vh - 60px); /* Altura da tela MENOS a altura do header */
  display: grid;
  align-content: center; /* Centraliza o conteúdo verticalmente */
  padding: 60px 15px; /* Adiciona um espaçamento interno */
  scroll-margin-top: 60px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
